/*---Модальные окна---*/

._modal {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all .3s;
	&._active{
		visibility: visible;
		opacity: 1;
		pointer-events: all;
	}
}

.modal-bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	display: flex;
	padding: 20px;
}

.modal-body {
	padding: 24px;
	width: 700px;
	overflow: auto;
	margin: auto;
	max-height: 90%;
	background-color: #fff;
	border-radius: 16px;
	position: relative;
	z-index: 10;
}

.modal-close {
	position: absolute;
	top: 10px;
	right: 16px;
	cursor: pointer;
}