/*---Минимальные стили для Swiper---*/

.swiper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-wrapper {
	display: inline-flex;
	position: relative;
}
.swiper-button-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -40px;
}
.swiper-button-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -40px;
}